<html>
<head>
<title>Error</title>
<style>
	.error {
		font-family: Courier, Consolas
	}
</style>
</head>
<body>
	{% extends "base.html" %}
	{% block content %}
	<h1>Error Landing Page</h1>
	<div><p>Oops! An error occurred. Below is a summary of the error. The managers of this page have been notified.</p></div>
	<br>
	<div><p class="error"> {{ ename }} </p></div>
	<div><p class="error"> {{ edesc }} </p></div>
	<br>
	<div>Questions? <a href="mailto: gissupport@gowightman.com">Send Wightman an email</a>
	{% endblock %}
</body>
</html>